@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    background-color: #000;
}

.donut
{
    height: 500px;
    width: 500px;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section {
    height: 100vh;
    
    overflow: hidden;
    background: #000;

}

p{
    position: relative;
    font-size: 1.5em;
    line-height: 0.7em;
    background: url(/Portfolio/pics/Donuttrans.png), url(/Portfolio/pics/Donuttrans.png), url(/Portfolio/pics/Donuttrans.png);
    background-blend-mode:soft-light;
    background-position: left;
    
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    color: transparent;
}